language: php

php:
- 7.2

before_script:
- composer self-update
- composer install

script: php vendor/bin/phpunit --coverage-text

notifications:
    email:
    - bogomolov@eosnewmedia.de
    - marien@eosnewmedia.de
